{% extends 'base.html.twig' %}

{% block title %}TaskList{% endblock %}

{% block body %}
    <h1>TaskList</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task_list.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ task_list.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_task_list_index') }}">back to list</a>

    <a href="{{ path('app_task_list_edit', {'id': task_list.id}) }}">edit</a>

    {{ include('task_list/_delete_form.html.twig') }}
{% endblock %}
