{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
        {% if error %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    <section class="mt-5">
        <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
            <div class="row gx-lg-5 align-items-center">
                <div class="col-lg-6 mb-5 mb-lg-0">
                <h1 class="my-5 display-3 fw-bold ls-tight">
                    The best offer <br />
                    <span class="text-primary">for your business</span>
                </h1>
                <p style="color: hsl(217, 10%, 50.8%)">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Eveniet, itaque accusantium odio, soluta, corrupti aliquam
                    quibusdam tempora at cupiditate quis eum maiores libero
                    veritatis? Dicta facilis sint aliquid ipsum atque?
                </p>
                </div>

                <div class="col-lg-6 mb-5 mb-lg-0">
                    <div class="card">
                        <div class="card-body py-5 px-md-5">
                        <form action="{{ path('app_login') }}" method="post">
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <label for="username" class="form-label">Email:</label>
                                <input type="text" id="username" name="_username" value="" class="form-control">
                            </div>

                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <label for="password" class="form-label">Password:</label>
                                <input type="password" id="password" name="_password" class="form-control">
                            </div>
                            
                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">
                            Connexion
                            </button>
                            </form>
                            <!-- Register button -->
                            <form action="{{ path('app_register') }}" method="post">
                                <button type="submit" class="btn btn-primary btn-block mb-4 pl-1">
                                Creer un compte
                                </button>
                            </form>
                            </div>
                        
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>


    {# <form action="{{ path('app_login') }}" method="post"> #}
        {# <label for="username">Email:</label> #}
        {# <input type="text" id="username" name="_username" value=""> #}

        {# <label for="password">Password:</label> #}
        {# <input type="password" id="password" name="_password"> #}

        {# If you want to control the URL the user is redirected to on success #}
        {# <input type="hidden" name="_target_path" value="{{ path('app_board_index') }}"> #}

        {# <button type="submit">login</button> #}
    {# </form> #}
{% endblock %}
