{% extends 'base.html.twig' %}

{% block title %}{{ board.libelle }}{% endblock %}

{% block body %}
    <div id="h1button">
        <h1>Listes</h1>
        <a class="btn btn-success" href="/taskList/new/{{ board.id }}" id="addbutton">Ajouter une liste</a>
    </div>
    <div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom de la liste</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasklist %}
            <tr>
                <td>{{ task.libelle }}</td>
                <td>
                    <a class="btn btn-primary" href="/taskList/{{ task.id }}">Voir la liste</a>
                    <a class="btn btn-warning" href="/taskList/{{ task.id }}/edit">Modifier la liste</a>
                    <form method="post" action="{{ path('app_task_list_delete', {'id': task.id, 'board_id': board.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ task.id) }}">
                        <button class="btn btn-danger">Supprimer la liste</button>
                    </form>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Vous n'avez pas encore de liste dans ce tableau</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


