{% extends 'base.html.twig' %}

{% block title %}{{ board.libelle }}{% endblock %}

{% block body %}
    <div id="h1button">
        <h1>Listes</h1>
        <a class="btn btn-success" href="/taskList/new/{{ board.id }}" id="addbutton">Ajouter une liste</a>
    </div>
    <div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom de la liste</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasklist %}
            <tr>
                <td>{{ task.libelle }}</td>
                <td>
                    <a class="btn btn-primary" href="/taskList/{{ task.id }}">Voir la liste</a>
                    <a class="btn btn-warning" href="/taskList/{{ task.id }}/edit">Modifier la liste</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Vous n'avez pas encore de liste dans ce tableau <a class="btn btn-primary mr-2" href="{{ path('app_board_new') }}">Créer une nouvelle liste</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


